<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../css/main.css">
        <title>Projet MongoDB - Parkings</title>
    </head>

    <body>
        <div id="content">
            <% if(adresseValide) { %>

                <% if(p1 == null) { %>
                    <h1>Oops. Il semblerait qu'il n'y ait pas de données à exploiter... :(</h1>
                <% } else {%>
                    <h1>Voici les parkings les plus proches de :</h1> 
                    <h2><%= adresseValide.formatted_address %></h2>
                    
                    <div id="map"></div>

                    <form action="">
                        <input id="address" type="hidden" name="<%= adresseValide.geometry.location.lat %>/<%= adresseValide.geometry.location.lng %>">
                        <input id="p1" type="hidden" name="<%= p1.nom %>, <%= p1.adresse %>/<%= p1.x %>/<%= p1.y %>">
                        <input id="p2" type="hidden" name="<%= p2.nom %>, <%= p2.adresse %>/<%= p2.x %>/<%= p2.y %>">
                        <input id="p3" type="hidden" name="<%= p3.nom %>, <%= p3.adresse %>/<%= p3.x %>/<%= p3.y %>">
                    </form>

                    <div class="parking"> 
                        <img src="../img/crown_gold.png" alt="Gold crown">
                        
                        <div>
                            <p> <%= p1.nom %> </p>
                            <p> <%= p1.adresse %> </p>        
                        </div>
                        
                        <p><%= p1.places %> / <%= p1.capacite %></p> 
                    </div>
                    
                    <div class="parking"> 
                        <img src="../img/crown_silver.png" alt="Silver crown">
                            
                        <div>
                            <p> <%= p2.nom %> </p>
                            <p> <%= p2.adresse %> </p>        
                        </div>
                            
                        <p><%= p2.places %> / <%= p2.capacite %></p> 
                    </div>
                    
                    <div class="parking"> 
                        <img src="../img/crown_copper.png" alt="Copper crown">
                            
                        <div>
                            <p> <%= p3.nom %> </p>
                            <p> <%= p3.adresse %> </p>        
                        </div>
                                
                        <p><%= p3.places %> / <%= p3.capacite %></p> 
                    </div>                    
                <% } %>
            <% } else { %>
                <h1>Il semblerait que l'adresse fournie ne soit pas valide...</h1> 
            <% } %>
        </div>    
        
        <script>
            function myMap() 
            {
                let address = document.getElementById("address").getAttribute("name").split("/");
                let mapOptions = 
                {
                    center: new google.maps.LatLng(address[0], address[1]),
                    zoom: 13,
                    mapTypeId: google.maps.MapTypeId.HYBRID
                }

                let map = new google.maps.Map(document.getElementById("map"), mapOptions);

                // Marker pour le premier parking
                let infop1 = document.getElementById("p1").getAttribute("name").split("/");
                let pos1 = new google.maps.LatLng(infop1[1], infop1[2])
                let marker1 = new google.maps.Marker({
                    position: pos1,
                    map: map,
                    title: infop1[0]
                });

                // Marker pour le second parking
                let infop2 = document.getElementById("p2").getAttribute("name").split("/");
                let pos2 = new google.maps.LatLng(infop2[1], infop2[2])
                let marker2 = new google.maps.Marker({
                    position: pos2,
                    map: map,
                    title: infop2[0]
                });

                // Marker pour le troisième parking
                let infop3 = document.getElementById("p3").getAttribute("name").split("/");
                let pos3 = new google.maps.LatLng(infop3[1], infop3[2])
                let marker3 = new google.maps.Marker({
                    position: pos3,
                    map: map,
                    title: infop3[0]
                });
            } 
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script> 
    </body>
</html>